@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Miles Hayden 1st Web App Website";
}


<body>

    <img src="~/img/IMG_0338.jpg" height="300" />
    <p>Miles Hayden hopes to learn a ton about web apps and hone in his programming skills throughout the semester.</p>
    <br />
    <p>Jobs he is intersted in:</p>
    <ul class="joblist">
        <li>1. Developer/Programmer</li>
        <li>2. Data Analyst</li>
        <li>3. Product Manager</li>
    </ul>

    <br />
    <br />

    


</body>
